/* You can add global styles to this file, and also import other style files */
.header
{
    min-width: 200px;
    min-height: 50px;
    position: relative;
    top: 25px;
    background-color: #000080;
    color: white;
    text-align: center;
    line-height: 80px;
}