<div class="card">
    <dx-data-grid id="dataGrid"
    [dataSource]="users"
    keyExpr="userID"
    [showBorders]="true"
    [repaintChangesOnly]="true"
    (onSaving)="onSaving($event)"
    (onInitNewRow)="onInitNewRow($event)"
    (onEditingStart)="onEditingStart($event)"
>
    <dxi-column dataField="userID" [allowEditing]="false">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="numeric"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="username"></dxi-column>
    <dxi-column dataField="firstName"></dxi-column>
    <dxi-column dataField="lastName"></dxi-column>
    <dxi-column dataField="email" required="required">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="email"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="userStatus"></dxi-column>
    <dxi-column dataField="department"></dxi-column>
    <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true"
        [(changes)]="changes"
        [(editRowKey)]="editRowKey">
    </dxo-editing>
</dx-data-grid>
<div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <span>Edit Row Key:</span>
      <div id="editRowKey">{{
        returnRowKeyString(editRowKey)
      }}</div>
    </div>
    <div class="option">
      <span>Changes:</span>
      <div id="changes">{{ changesText }}</div>
    </div>
  </div>
</div>